.container {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 2px solid grey;
  padding: 20px;
  border-radius: 0.5rem;
}

.techStackContainer {
  display: flex;
  flex-direction: column;
}

.skillIcon {
  width: fit-content;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  align-items: center;
  border: 1px solid rgba(0, 0, 0);
}

.projectImg {
  width: 100%;
  border-radius: 10px;
}

.contentContainer {
  margin-top: 15px;
}
