.container {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 10px 15px 10px 15px; */
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleContainer {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoImg {
  height: 80px;
  width: 80px;
  object-fit: contain;
  margin-right: 20px;
}

.organization {
  font-size: 20px;
  font-weight: 600;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}
