.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh);
  background-color: #f9f9f9;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.leftComponentContainer {
  margin-left: 2em;
}

@media screen and (max-width: 1080px) {
  .content {
    flex-direction: column-reverse;
  }
}
